/*GENERALES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 50px;
}


/*Slider*/

.main .contenedor-slider {
  width: 100%;
  overflow: hidden;
  background: #F3F4FA;
  padding: 54px 0;
  position: relative;
}

.main .contenedor-slider .slider {
  width: 400%;
  display: flex;
  margin-left: -45%;
}

.main .contenedor-slider .slider .slide {
  width: 15%;
  max-width: 950px;
  margin-right: 0.7%;
  box-shadow: 0px 20px 40px #aaa;
}

.main .contenedor-slider .slider .slide img {
  width: 100%;
  vertical-align: top;
}

.main .contenedor-slider .btn-anterior,
.main .contenedor-slider .btn-siguiente {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main .contenedor-slider .btn-anterior {
  left: 2%;
}

.main .contenedor-slider .btn-siguiente {
  right: 2%;
}

.main .contenedor-slider .btn-anterior i,
.main .contenedor-slider .btn-siguiente i {
  color: #fff;
}

.main .contenedor-slider .btn-anterior i:hover,
.main .contenedor-slider .btn-siguiente i:hover {
  color: #0089E0;
}


/* ----- MEDIA QUERIES ----- */

@media screen and (max-width:1040px) {
  /*Nuestro equipo*/

}

@media screen and (max-width: 900px) {
  /*Encabezado*/


}

@media screen and (max-width:550px) {}